DJANGO_SETTINGS_MODULE=brunoboulais.settings.prod
SECRET_KEY=please-generate-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=jacques-bertin.manyo.dev
CSRF_TRUSTED_ORIGINS=https://jacques-bertin.manyo.dev
SITE_DOMAIN=jacques-bertin.manyo.dev
SITE_NAME=Bruno Boulais
DEFAULT_FROM_EMAIL=boulaisbruno@free.fr
CONTACT_EMAIL=boulaisbruno@free.fr
BREVO_API_KEY=
SENTRY_DSN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SQLITE_PATH=/data/db.sqlite3
